@import url(./tools/animated_button.css);

:root {
    --CP: #2c2c2f; /*#35363A*/
    --CS: #0073d7;
    --CSV: #0064ba;
    --CT: rgb(250, 250, 250); /*tertiary*/
    --CTV: rgba(250, 250, 250, 0.8);

    --socialSize: 33px;
    --columnWidth: 25%;
    --gutter: 10px;
}
body {
    background: var(--CP);
    font-family: input-mono, monospace;
}
main {
    padding-top: 25px;
    padding-bottom: 35px;
}
img.mahdi {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--CS);
}
p.mahdi, blockquote.mahdi {
    color: var(--CT);
}
.mahdi {
    text-shadow: 0px 0px 10px var(--CS);
}
p.mahdi {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 13px;
}
blockquote.mahdi {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin: 8px 5px 0 5px;
}
#cv {
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin: 10px 0;
    transition: all 0.2s;
}
#cv:hover {
    transform: scale(1.05);
}
#social {
    margin: 30px 0;
}
.social {
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.social a {
    text-decoration: none;
}
.social a img {
    width: var(--socialSize);
    height: var(--socialSize);
}
.social a img:hover {
    transform: scale(1.1);
}
.grid-item {
    width: calc(var(--columnWidth) - var(--gutter));
    margin: 0 var(--gutter) var(--gutter) 0;
}
.grid-inner {
    width: calc(100% - (var(--gutter) + var(--gutter)));
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    display: block;
    text-decoration: none;
}
img.icon {
    width: 100px;
    height: 100px;
}
.grid-inner p {
    color: var(--CT);
}
p.projName {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 16px;
}
p.projDesc {
    margin-top: 5px;
    font-size: 15px;
    letter-spacing: 0;
}


@media only screen and (max-width: 1000px) {
    :root {
        --columnWidth: 33.333%;
        --gutter: 8px;
    }
}

@media only screen and (max-width: 750px) {
    :root {
        --pageHPadding: .75rem;
        --columnWidth: 50%;
        --gutter: 6px;
    }
}

@media only screen and (max-width: 450px) {
    :root {
        --pageHPadding: .75rem;
        --columnWidth: 100%;
        --gutter: 3px;
    }
    .grid-item {
        width: calc(var(--columnWidth) - (var(--pageHPadding) + var(--gutter) + var(--gutter)));
        margin: 0 var(--gutter) var(--gutter) var(--gutter);
    }
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --CP: #000;
    }
}*/


@font-face {
    font-family: input-mono;
    src: url(./font/input_mono_regular.ttf);
}
