<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Force Use HTTPS" stopProcessing="true">
                    <match url="http://*" />
                    <action type="Rewrite" url="https://mahdiparastesh.ir/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
